<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/cards" method="post">
      <input type="number" name="mana" placeholder="mana">
      <input type="number" name="attack" placeholder="attack">
      <input type="number" name="health" placeholder="health ">
      <input type="text" name="description" placeholder="name/description">
      <input type="submit">
    </form>
    <h3> Your Current List: </h3>

    <% for(var i =0; i<deck.length; i++) { %>
      <hr>
    <div>
      <p>Mana: <%=deck[i].mana%></p>
      <p>Attack: <%=deck[i].attack%></p>
      <p>Health: <%=deck[i].health%></p>
      <p>Name/Description: <%=deck[i].description%></p>
      <a href="/cards/remove/<%=cards[i].id%>">Remove From List</a>
    </div>
    <% } %>
    <hr>
    <h1> All Cards: </h1>
    <% for(var i =0; i<cards.length; i++) { %>
      <hr>
    <div>
      <p>Mana: <%=cards[i].mana%></p>
      <p>Attack: <%=cards[i].attack%></p>
      <p>Health: <%=cards[i].health%></p>
      <p>Name/Description: <%=cards[i].description%></p>
      <a href="/cards/add/<%=cards[i].id%>"> Add To List</a>
    </div>
    <% } %>
  </body>
</html>
